params.output = "$baseDir/output"
params.input = "$baseDir/manifest.tsv" //path to input files
params.path_reference = null // "/data/pipelines/FeatureExtraction/data" provide yours

//Report
params.tracedir = "${baseDir}/pipeline_info"
timeline {
	enabled = true
	file = "${params.tracedir}/execution_timeline.html"
}
report {
	enabled = true
	file = "${params.tracedir}/execution_report.html"
}
