params.output = "$baseDir/output"
params.input = "data/*.vcf.gz" //path to input files
params.path_reference = null // "/data/pipelines/FeatureExtraction/data" provide yours

process {
	errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
  	maxRetries = 3
}

//Report
params.tracedir = "${projectDir}/pipeline_info"
timeline {
	enabled = true
	file = "${params.tracedir}/execution_timeline.html"
}
report {
	enabled = true
	file = "${params.tracedir}/execution_report.html"
}
